*{
    margin: 0;
    padding: 0;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

#container{
    width: 35vw;
    height: 50em;
    background-color: rgb(255, 255, 255);
    justify-items: center;
    box-shadow: 2px 3px 22px black;
    border-radius: 20px;
    padding: 2rem;


}

#heading{
    justify-self: center;
    color: rgb(24, 24, 24);
    width: 100%;
    height: 100%;
    max-height: 4rem;
    text-align: center;
    align-content:center;
    border-bottom:4 px ridge ;
    
}

#input-area{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    gap: 4em;
    margin: 1rem;
}


.button{
    width: 2em;
    height: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 2vw;
    text-align: center; 
    align-content:center;
    background-color: rgb(52, 52, 52);
    border: 4px ridge rgb(149, 149, 149);
    color: wheat;
    transition: transform 0.2s ease-in;
    box-sizing: border-box;
}


#result-area{
    width: 100%;
    min-height: 2em ;
    margin: 2em 0rem;
    background-color:rgb(39, 39, 39) ;
    color: azure;
    border: 3px ridge silver;
    font-size: 1.8vw;
    text-align: end;
    align-content: center;

}

.operator{
    background-color: rgb(242, 187, 105);
    color: #000;
}

.answer{
    background-color: red;
    color: white ;
}


.button:hover{
    transform: scale(1.1);
    background-color: #000;
    box-shadow: 1px 1px 1px black;
    border: 5px ridge silver;
}
.operator:hover{
    background-color: rgb(246, 157, 62);
}

