*{
    margin: 0;
    padding: 0;
}

body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    background:linear-gradient(90deg, rgb(3, 3, 3), rgb(6, 9, 14))
}

header {
    img{
        width: 100vw;
    }
}
#container{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    background-color: rgb(91, 91, 91);
    background-image: url('./images/container.jpg');
    box-shadow: 2px 3px 22px black;
    border-radius: 20px;
    border: 4px solid white;
    padding: 2rem;
    margin-bottom: 5rem;

}

#container img{

    width: 300px;
    height: 200px;
    border: 10px solid rgb(250, 250, 250);

}
