*{
    margin: 0;
    padding: 0;
}

body{

    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(90deg, rgb(166, 224, 245), rgb(130, 169, 241));
   
}
header {     /* banner image  */
    justify-items: center;
    color: rgb(26, 26, 26);
    padding :4px;
    font-size: 3rem;
    width: 100%;
    height: 2em;
   
}

#quiz-area{
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    min-width: 40%;
    max-width: 50%;
    min-height: 40vh;
    border-radius: 20px;
    margin: 0 auto;
    color: rgb(15, 15, 15);
    box-shadow: 2px 3px 10px rgb(73, 73, 73);
}

.question-area{
    padding:2%;
    background-color: rgb(235, 250, 247);
    border-bottom: 2px solid rgb(0, 229, 255);
    

}
#question{
    font-size: 25px;
    font-weight: 900;
}
#options-area{
    min-height: 20rem;
    justify-items: center;
    align-content: center;
}
#option{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin: 2rem;
    width: 60%;
    
    label{
        padding:1rem;
        border: 1px solid rgb(62, 165, 151) ;
        margin: 3px ;
        border-radius: 10px;
        cursor: pointer;
    }

}

input[type='radio']{
    display: none;
}



#submit-button{
    display: flex;
    justify-content: center;

    button{
        margin: 2rem;
        padding: 1rem 2rem;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 900;
        background: linear-gradient(90deg ,rgb(25, 69, 247),rgb(4, 35, 161));
        cursor: pointer;
        color: aliceblue;
    }

}

.correct{
    background-color: rgb(39, 188, 39);
    color: white;
}
.incorrect{
    background-color: rgb(250, 63, 63);
    color: white;
}

label:has(input:disabled) {
    cursor: not-allowed;
    opacity: 0.6;
}

#result{
    display: none;
    padding: 4rem;
    background:linear-gradient(90deg ,rgb(124, 241, 225),rgb(119, 242, 193));
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: scale(1.3);
    transition: transform 2s linear;
}