*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    background:linear-gradient(180deg, rgb(43, 43, 43),rgb(28, 28, 28));
    padding: 2rem 1rem;
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 10;
}

nav{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    a{  
        padding: 1rem;
        text-decoration: none;
        color:rgb(255, 255, 255);
        margin:1rem;
        cursor: pointer;
        transition: border .3s ease-in-out;


    }
}

nav> a:hover {
    border-bottom: 1px solid rgb(0, 255, 255)
    

}




.card{ 

    border-radius: 10px;
    box-shadow: 2px 1px 40px rgba(110, 110, 110, 0.468);
    transition: transform .7s ease-out;
}








#container{
    max-width: 80%;
    max-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
    padding: 2rem;
     margin: 1rem auto;

}



#container img{
    width: 400px;
    height: 400px;
    transition: transform .5s ease-in-out;   /* show smoother effect on hover */

}


.card:hover{
    transform: scale(1.06);

}