*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    background:linear-gradient(180deg, rgb(185, 85, 19),rgb(244, 130, 0));
    padding: 2rem 1rem;
    position: sticky;
    width: 100%;
    top: 0px;
}

nav{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    a{  
        padding: 1rem;
        text-decoration: none;
        color:white;
        margin:1rem;
        cursor: pointer;
        border-radius: 10px;
       

    }
}

nav> a:hover {
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.488);
    background:linear-gradient(90deg, rgb(252, 130, 48),brown);
    

}

#content-area{
    min-height: 140vh;
    background: linear-gradient(180deg, rgb(254, 254, 254),rgb(248, 190, 118),rgb(247, 177, 87),white);
}

#home-hero{
    
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90vh;
    color: white;
    border-top-left-radius:20em;
    border-top-right-radius:20em;

    background:linear-gradient( 90deg ,rgb(231, 113, 24),rgb(145, 33, 5)) ;
   img{
    width: 60em;
   }
}

#home-hero-content{
    justify-items: center;
    padding :3rem;
    font-size: 2rem;
}


footer{
    margin-top: 20rem;
    background-color: black;
    min-height: 10rem;
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
    align-content: center;
}


#about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    h2{
        font-size: 3rem;
        color:black ;
    }
}

#about-content p {
    padding: 1rem
}

#about-content>p {
    min-width:  70%;
    max-width: 75%;
    padding: 4rem;
    margin:4rem auto;
    border-radius: 30px;
    background: linear-gradient(90deg,white,rgb(242, 221, 179));
    box-shadow: 0px 2px 10px;
}

.about-boxes{
    padding: 4rem;
    border-radius: 20px;
    background: linear-gradient(90deg,white,rgb(205, 205, 205));
}